.App {
  text-align: center;
}

.data{
  margin:50px;
}
.displayimg{
  height:100px;
  width:100px;
  object-fit: cover;
}
.MuiButton-label{
  pointer-events:none;
}

.form{
  display:flex;
  flex-direction:column;
}

form .txtfield{
  margin-bottom : 30px;
}

.submitbtn{
  margin-top : 30px;
}
.MuiButton-label{
  pointer-events: none;
}

.formclass{
  min-width:650px;
  display:flex;
  justify-content: center;
  align-items:center;
}
